.Header {
  background-color: #282c34;
  min-height: calc(10px + 20vmin);;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header-logo {
  animation: Header-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  margin: 0 5vmin;
}

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
